name: Update Space Shooter GIF

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub Game
        uses: czl9707/gh-space-shooter@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-path: assets/space-shooter.gif
          strategy: random

      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email actions@github.com

          git add assets
          git commit -m "Update space shooter" || echo "No changes"
          git push
