name: Update Space Shooter GIF

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Space Shooter
        run: |
          pip install gh-space-shooter

      - name: Create assets folder
        run: mkdir -p assets

      - name: Generate GIF
        run: |
          gh-space-shooter --user 4dithyan --output assets

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add assets
          git commit -m "Update space shooter gif" || echo "No changes"
          git push
