name: Update Space Shooter GIF

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install generator
        run: pip install gh-space-shooter

      - name: Create assets folder
        run: mkdir -p ./assets

      - name: Generate Space Shooter
        run: |
          ls
          ls assets
          gh-space-shooter --output ./assets/space-shooter.gif

      - name: Commit and push GIF
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add assets/space-shooter.gif
          git commit -m "Update space shooter GIF" || echo "No changes"
          git push
